* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.historia article {
  background-image: linear-gradient(rgba(16, 16, 16, 0.7), rgba(16, 16, 16, 0.7)), url(../media/img/escudo_cancha_bochas.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .historia article div .historia-titulo {
    text-align: center;
    font-size: 2.2em;
    font-weight: 600;
    padding: 20px; }
  .historia article .historia-parrafos {
    text-align: center;
    font-size: 1.5em;
    padding: 2rem; }

#caja-comentarios {
  padding: 50px 0px 50px 0px; }

#boton {
  font-weight: 600;
  background-color: #24303c;
  color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 5px #000; }

#boton:hover {
  cursor: pointer;
  background-color: #f00;
  transition: all 0.4s;
  color: #ff0;
  box-shadow: 0px 0px 10px #ff0; }

#pack_temporada {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  border: none;
  box-shadow: 0px 0px 5px #000;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 7px; }

.contact-title {
  font-size: 3em;
  font-weight: 600;
  text-transform: uppercase; }

form {
  width: 80%;
  margin: auto;
  background: rgba(107, 107, 107, 0.4);
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 7px;
  border: 2px solid #f00; }
  form h4 {
    text-align: center;
    color: #fff;
    padding: 35px;
    font-size: 28px; }
  form input, form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    border: none;
    box-shadow: 0px 0px 5px #000;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 7px; }
  form textarea {
    min-height: 100px;
    max-height: 200px;
    min-width: 100%;
    max-width: 100%; }

section .promociones {
  margin: auto;
  width: 96%;
  max-width: 1200px; }
  section .promociones .promociones-temporada .card {
    margin: 2rem auto;
    box-shadow: 2px 2px 20px #000; }
    section .promociones .promociones-temporada .card img {
      width: 100%;
      padding: 0.5rem;
      margin-top: 1rem;
      background-image: linear-gradient(100deg, #e3f033 0%, #e7e324 25%, #dc9d27 50%, #c31414 75%, #ff2222 100%); }
    section .promociones .promociones-temporada .card div h4 {
      color: #000;
      text-align: center;
      text-transform: uppercase; }
    section .promociones .promociones-temporada .card div p {
      color: #000; }
    section .promociones .promociones-temporada .card div h5 {
      color: #000; }
    section .promociones .promociones-temporada .card:hover {
      transform: scale(1.1);
      z-index: 10;
      cursor: pointer;
      transition: all 0.5s; }

/* @keyframes Gradient{

    0%{
        background-position: 0 0;
    }

    50%{
        background-position: -80rem 0;
    }

    100%{

        background-position: 0 0;
    }
} */
main section .deportes__pages {
  background-image: linear-gradient(rgba(16, 16, 16, 0.6), rgba(16, 16, 16, 0.6)), url(../media/img/trofeoscopia.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-bottom: 3px solid #ff0; }
  main section .deportes__pages .pages__deportes-titulo {
    background-color: #f00;
    color: #ff0;
    text-align: center;
    padding: 12px; }
  main section .deportes__pages .pages__deportes__lista ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap; }
    main section .deportes__pages .pages__deportes__lista ul li {
      margin: auto;
      list-style: none;
      font-size: 1.5em;
      padding: 2rem;
      text-shadow: 0px 0px 3px #fff; }
      main section .deportes__pages .pages__deportes__lista ul li a {
        text-decoration: none;
        color: #fff;
        padding: 15px; }
        main section .deportes__pages .pages__deportes__lista ul li a:hover {
          color: #ff0;
          background: #f00;
          border-radius: 2rem;
          transition: all 0.5s;
          transform: scale(0.9);
          box-shadow: 0px 0px 3px 3px #ff0; }

.scroller {
  height: 300px;
  max-width: 1500px;
  padding: 10px;
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  column-gap: 1rem;
  overflow-x: auto; }
  .scroller .scroller-item {
    box-shadow: 2px 2px 15px #f00;
    position: relative;
    width: 180px;
    height: 180px;
    border: 4px solid #f0e033;
    border-radius: 50%;
    overflow: hidden;
    transition: all 500ms ease; }
    .scroller .scroller-item img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
      transition: all 500ms ease; }
      .scroller .scroller-item img:hover {
        transform: scale(1.15);
        transition: all 0.5s; }

.scroller::-webkit-scrollbar {
  display: none; }

.body {
  font-family: 'Roboto', sans-serif;
  background-color: #ff3232;
  color: #fff; }

header {
  display: none;
  margin-bottom: 0.3rem; }
  header .header {
    background-image: linear-gradient(rgba(16, 16, 16, 0.6), rgba(16, 16, 16, 0.6)), url(../media/img/frente_del_club.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 100%;
    /* border-bottom: 3px solid red; */ }
    header .header .header-logo {
      width: 20rem; }
    header .header .title-conteiner {
      height: 100%; }
      header .header .title-conteiner h1 {
        font-weight: bold;
        font-size: 4em;
        margin-top: 7rem;
        letter-spacing: 3px; }

/* ---- NAVBAR ---- */
.navbar {
  border-top: 3px solid #ff0;
  border-bottom: 3px solid #ff0;
  background-image: linear-gradient(rgba(16, 16, 16, 0.6), rgba(16, 16, 16, 0.6)), url(../media/img/frente_del_club.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 0.3rem;
  position: sticky;
  top: 0px;
  z-index: 100;
  /* position: fixed; 
    width: 100%; */ }

.navbar-logo {
  width: 5rem;
  border-radius: 50%; }

.navbar-logo:hover {
  box-shadow: 0px 0px 10px 3px #fff;
  transition: all 0.4s; }

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show > .nav-link {
  color: #fff;
  padding: 6px 10px;
  font-size: 1.5em;
  text-transform: uppercase; }

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ff0;
  background: #f00;
  border-radius: 2rem;
  transition: all 0.5s;
  transform: scale(0.9);
  box-shadow: 0px 0px 3px 3px #ff0; }

/*---- CAROUSEL ----*/
#carouselExampleCaptions {
  box-shadow: 2px 2px 20px #000; }

/* ---- TEMPORADA ---- */
.season {
  width: 90%;
  max-width: 1200px;
  margin: 4rem auto;
  align-items: center; }
  .season .card {
    box-shadow: 2px 2px 20px #000; }
    .season .card a {
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      box-shadow: 0px 0px 10px 5px #ff0; }
      .season .card a .img-conteiner {
        display: flex;
        align-items: center; }
        .season .card a .img-conteiner .card-img, .season .card a .img-conteiner .card-img-bottom {
          border-radius: 20px; }
      .season .card a h5 {
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-top: 1.5rem;
        color: #fff;
        font-weight: 600; }
    .season .card:hover {
      /* img{
                opacity: 0.4;
            } */
      box-shadow: 0px 0px 10px 5px #ff0;
      transition: all 0.5s; }
      .season .card:hover h5 {
        display: block; }

.news {
  box-shadow: 2px 2px 20px #000;
  padding: 1rem auto;
  margin-top: 3rem;
  background-image: linear-gradient(rgba(16, 16, 16, 0.5), rgba(16, 16, 16, 0.5)), url(../media/img/bg_hinchada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .news .news-title {
    padding-top: 2rem;
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0.8; }

/* ---- LISTA DE DEPORTES ---- */
.deportes {
  box-shadow: 2px 2px 20px #000;
  padding: 2rem auto;
  margin-top: 6rem;
  background-image: linear-gradient(rgba(16, 16, 16, 0.7), rgba(16, 16, 16, 0.7)), url(../media/img/equipos_collage.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .deportes .deportes-titulo {
    background-color: #f00;
    color: #ff0;
    text-align: center;
    padding: 12px; }
  .deportes ul {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .deportes ul li {
      margin: 1.5rem;
      list-style: none;
      font-size: 1.5em;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 3px; }
      .deportes ul li a {
        text-decoration: none;
        color: #fff;
        padding: 15px; }
        .deportes ul li a:hover {
          color: #ff0;
          background: #f00;
          border-radius: 2rem;
          transition: all 0.5s;
          transform: scale(0.9);
          box-shadow: 0px 0px 3px 3px #ff0; }
    .deportes ul span {
      display: none; }

ol, ul {
  padding-right: 3rem;
  padding-left: 0; }

/* ---- FOOTER ---- */
footer {
  margin-top: 2rem;
  background-image: linear-gradient(rgba(16, 16, 16, 0.6), rgba(16, 16, 16, 0.6)), url(../media/img/escudo_playon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  footer .conteiner {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    text-align: center; }
    footer .conteiner h3 {
      text-align: center;
      padding: 20px;
      text-transform: uppercase;
      font-size: 2em;
      font-weight: 600; }
    footer .conteiner .footer__ {
      display: flex;
      justify-content: space-around; }
      footer .conteiner .footer__ a {
        font-size: 3rem; }
        footer .conteiner .footer__ a .fa-instagram {
          padding: 10px;
          color: #fff; }
          footer .conteiner .footer__ a .fa-instagram:hover {
            color: #eb4ed4;
            transform: scale(1.2);
            transition: all 0.4s; }
        footer .conteiner .footer__ a .fa-facebook {
          padding: 10px;
          color: #fff; }
          footer .conteiner .footer__ a .fa-facebook:hover {
            color: #3865c5;
            transform: scale(1.2);
            transition: all 0.4s; }
        footer .conteiner .footer__ a .fa-youtube {
          padding: 10px;
          color: #fff; }
          footer .conteiner .footer__ a .fa-youtube:hover {
            color: #e43933;
            transform: scale(1.2);
            transition: all 0.4s; }
        footer .conteiner .footer__ a .fa-whatsapp {
          padding: 10px;
          color: #fff; }
          footer .conteiner .footer__ a .fa-whatsapp:hover {
            color: #25d366;
            transform: scale(1.2);
            transition: all 0.4s; }
    footer .conteiner p {
      font-size: 1.2em;
      margin: 3rem;
      margin-bottom: 0;
      padding-bottom: 3rem; }

@media screen and (min-width: 360px) {
  .deportes ul li {
    width: 25%; }
    .deportes ul li a span {
      display: block; } }

@media screen and (min-width: 891px) {
  .news .cards-conteiner .card a .conteiner-img {
    height: 450px; }
    .news .cards-conteiner .card a .conteiner-img img {
      width: 100%;
      height: 100%; } }

@media screen and (min-width: 1024px) {
  header {
    display: block; }
  .navbar {
    background-image: linear-gradient(rgba(16, 16, 16, 0.6), rgba(16, 16, 16, 0.6)), url(../media/img/la14.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
  .navbar-logo {
    display: none; }
  .navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show > .nav-link {
    padding: 10px 10px;
    margin: 0 2rem; }
  #carouselExampleCaptions {
    max-width: 1200px;
    margin: auto; }
  .season .card a {
    box-shadow: none; }
    .season .card a h5 {
      font-size: 2.2em;
      margin: auto;
      padding-top: 4rem;
      display: none; }
  .season .card:hover {
    box-shadow: 0px 0px 10px 5px #ff0;
    transition: all 0.5s; }
    .season .card:hover img {
      opacity: 0.4; }
    .season .card:hover h5 {
      display: block; }
  .deportes ul {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    .deportes ul li {
      width: 25%; }
  form {
    max-width: 900px; } }
