main{


    section{
        .deportes__pages{
            background-image: linear-gradient(rgba(16, 16, 16, 0.6), rgba(16, 16, 16, 0.6)), url(../media/img/trofeoscopia.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            border-bottom: 3px solid #ff0;
            .pages__deportes-titulo{
                background-color: #f00;
                color: #ff0;
                text-align: center;
                padding: 12px;
            }
            .pages__deportes__lista{

                ul{

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    flex-wrap: wrap;
            
                    li{
                        margin: auto;
                        list-style: none;
                        font-size: 1.5em;
                        padding: 2rem;
                        text-shadow: 0px 0px 3px #fff;
            
                        a{
                            text-decoration: none;
                            color: #fff;
                            padding: 15px;
            
                            &:hover{
                                color: #ff0;
                                background: #f00;
                                border-radius: 2rem;
                                transition: all 0.5s;
                                transform: scale(0.9);
                                box-shadow: 0px 0px 3px 3px #ff0;
            
                            }
                        }
                    }
            
                }

            }

    
    
    
    
        }
    }
    .bg-deportes{
        background-image: linear-gradient(rgba(16, 16, 16, 0.6), rgba(16, 16, 16, 0.6)), url(../media/img/equipos_collage.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}
